html
{}

  * {
      box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: Black;
  }


  /* Create three unequal columns that floats next to each other */
  .column {
      float: left;
      padding: 10px;
  }

  /* Left and right column */
  .column.side {
      width: 30%;
  }

  /* Middle column */
  .column.middle {
      width: 40%;
      align-items: center;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
      .column.side, .column.middle {
          width: 100%;
      }
  }

  /* Style the footer */
  .footer {
      position: fixed;
      left: 0;
      bottom: 0px;
      width: 100%;
      overflow: hidden;

      background-color: #f1f1f1;
      padding: 10px;
      text-align: right;
  }

  @media screen and (max-width: 600px) {
      .footer {
          bottom:-60px;
      }
  }

#footer {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 14px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}


#refresh {
  font-family: 'Space Mono', monospace;
  font-weight: lighter;
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 14px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}

.iconx {
  width: 10px;
  height: auto;

}




h1 {
  font-size: 150px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  margin-top: 50%;
  margin-left: 20%;
  text-decoration: underline;
  color: rgb(100, 100, 100);
}

h1:hover {
  color: rgb(102, 205, 170);
  transition: 0.5s;
}

h1:visited {
    color:Black;
    text-decoration: none;
}

#Quote {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  font-size: 11px;
  margin-top: -30%;
  margin-left: 50%;
}

#Soon {
  color: rgb(102, 205, 170);
}

#Link:hover {
  transition: 1s;
  text-transform: uppercase;
}

#Link:visited{
  color:Black;
  text-decoration: none;
}

img.med {
  width: 80%;
  height: auto;
  align-items: center;
}

ul {
  list-style: none;
}

.column1, .column2 {
  font-family: 'Space Mono', monospace;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 14px;
  float:left;
  margin-top: 50%;
}



#background {
 position:absolute;
 left: 65%;
 top: 25%;
 background-size:30%;
 background-repeat: no-repeat;
 width:100%;
 height:100%;
 z-index:999;
 }

 @media screen and (max-width: 600px) {
     #background {
         width: 0%;
 }
